* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 80vh;
  width: 45vw;
  background-color: rgb(71, 13, 105);
}
